.app-header {
  background-color: var(--clr1);
  color: var(--clr1bg);
  padding: 1em;
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
}

.app-nav-option:hover {
  color: white;
  transition: .3s;
}

.main-title-root:hover {
  color: white;
  transition: .3s;
  cursor: pointer;
}

@media(max-width: 720px) {
  .app-header {
    color: var(--clr2bg);
  }
}